.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 30%;
  display: flex;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.LoginSection{
    float: right;
}

.LabelSection{
    float: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: #c6c6c6;
  min-height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table{
    border: '1';
    color: black;
}

td {
    background-color: white;
    height: 20px;
    width: 20px;
}

.free{
    background-color: white;
}

.booked{
   background-color: grey;
}

.owned{
    background-color: blue;
}

.pending{
   background-color: #3987c9;
}

td:hover {
    opacity: 0.8;
}